.card {
    width: 50vw;
    margin: 0 auto 30px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1a97d1;
    color: white;
    padding: 5px 30px;
}

.carrier {
    font-size: 24px;
    font-weight: bold;
}

.priceInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
}

.priceTaxes {
    align-self: flex-end;
}

.priceAdult {
    font-size: 16px;
}

.button {
    width: 100%;
    font-size: 26px;
    color: white;
    background: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    margin-top: 10px;
}

.button:hover {
    cursor: pointer;
}

.carrierInfo {
    font-weight: normal;
}

hr {
    height: 3px;
    background: #7db5fd;
    border: none;
}