.flightInfo {
    font-size: 24px;
    font-weight: 500;
    padding: 0 30px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.route {
    border-bottom: 1px solid lightslategray;
}

.arrow {
    color: #7db5fd;
    font-weight: bold;
    margin: 0 10px;
}

.timeInfo {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.departedTime, .arrivalTime {
    display: flex;
}

.departedDate, .arrivalDate {
    margin-left: 5px;
    color: #7db5fd;
    font-size: 20px;
    align-self: flex-end;
}

.arrivalDate {
    margin-right: 5px;
    margin-left: 0;
}

.transfer {
    align-self: center;
    width: 90%;
    display: flex;
    white-space: nowrap;
}

.transfer span {
    margin: 0 15px;
    color: orange;
}

.transfer:after, .transfer:before {
    content: "";
    background: gray;
    width: 100%;
    height: 1px;
    align-self: center;
    margin: 0 5px;
}